<%- include("header") -%>
<%- include("nav") -%>

<section id="title">

  <div class="row section1">
    <div class="col-lg-6 col-md-6 col1">
       <img class="only-me" src="images/no_legs.png" alt="my-photo">
    </div>

    <div class="col-lg-6 col-md-6 col2">

       <h1 class="h1-sec2"><strong>Hey I'm Gal,</strong></h1>
       <h1 class="h1-sec3"><strong>a programmer and web designer </strong></h1>

       <div class="arrow">
              <span></span>
              <span></span>
              <span></span>

      </div>

    </div>
  </div>

</section>

<section id="features">
  <div class="row">

    <div class="col-lg-4 features-box">
      <i class="fa-brands fa-node fa-3x icon2"></i>
      <h3>Website Developer</h3>
      <p>Professional web developer with Nodejs and Java Script</p>
    </div>

    <div class="col-lg-4 features-box">
      <i class="fa-brands fa-java fa-3x icon2"></i>
      <h3>Java Developer</h3>
      <p>Expert in building Java games and programs</p>
    </div>

    <div class="col-lg-4 features-box">
      <i class="fa-solid fa-database fa-3x icon2"></i>
      <h3>SQL & noSQL</h3>
      <p>Expert in MySQL and MongoDB</p>
    </div>

  </div>
</section>




<%- include("footer") -%>
