<header>
  <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
    <a class="navbar-brand GalLisha" href="" styles="font-size:50px;"><h1 class="h1-gal">GalLisha</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="toDoList">To Do List</a></li>
            <li><a class="dropdown-item" href="pokerList">Poker Manager</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Games
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="memoryGame">Memory Game</a></li>
            <li><a class="dropdown-item" href="simonGame">Simon Game</a></li>
            <li><a class="dropdown-item" href="millionaire">Millionare</a></li>
            <li><a class="dropdown-item" href="bullsAndCows">Bulls And Cows</a></li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Download</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
